.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.apps-container {
	border: 2px dashed blue;
	margin: 10px 10px 0 0;
	padding: 5px;
	min-width: 200px;
	min-height: 50px;
}

.app {
	width: auto;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #3a3637;
	/* font-size: 1.1em; */
	/* font-weight: bold; */
	text-align: center;
	cursor: move;
}

.display-container {
	margin: 0 20px 0 20px;
}

/***  Extra ***/

body {
	font-family: Verdana, 'Trebuchet ms', Tahoma;
}

.logList {
	margin-top: 20px;
	width: 250px;
	min-height: 300px;
	padding: 5px 15px;
	border: 5px solid #000;
	border-radius: 15px;
}

.logItem {
	margin-bottom: 10px;
}

.logList:before {
	content: 'log';
	padding: 0 5px;
	position: relative;
	top: -1.1em;
	background-color: #FFF;
}

.container {
	width: auto;
	margin: auto;
	position: relative !important;
}

h2 {
	text-align: center;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.clear {
	clear: both;
}

.fancy-button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #df691a;
	background-color: #3a3637;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.fancy-button:hover {
	background-color: #474344
}

.fancy-button:active {
	background-color: #474344;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.formBox {
	padding: 50px;
}

.formBox h3 {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	color: #df691a;
	font-size: 35px;
}

.inputBox {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.inputBox .inputText {
	position: absolute;
	font-size: 24px;
	line-height: 50px;
	transition: .5s;
	opacity: .5;
}

.inputBox .input {
	position: relative;
	width: 100%;
	height: 50px;
	color: whitesmoke;
	background: transparent;
	border: none;
	outline: none;
	font-size: 18px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.50);
	border-right: 3px solid rgba(255, 255, 255, 0.50);
}

.focus .inputText {
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #df691a;
}

textarea {
	height: 100px !important;
}

.formText {
	position: absolute;
	font-size: 24px;
	line-height: 50px;
	transition: .5s;
	opacity: .5;
}

.radio-lable {
  margin: 2em;
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.radio-inline {
  height: 1px;
  width: 1px;
  opacity: 0;
}

.outside {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 2px solid #df691a;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: none;
}

.inside {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: inline-block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #df691a;
	left: 3px;
	top: 3px;
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
}

.no-transforms .inside {
	left: auto;
	top: auto;
	width: 0;
	height: 0;
}

input:checked+.outside .inside {
	-webkit-animation: radio-select 0.1s linear;
	animation: radio-select 0.1s linear;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.no-transforms input:checked+.outside .inside {
	width: 10px;
	height: 10px;
}

.task-click {
	color: white !important;
	font-size: 18px;
}